@import url(https://fonts.googleapis.com/css?family=Nunito);

@import url('animated.css');
@import url('main.css');
@import url('bootstrap.min.css');
@import url('flaticon.css');
@import url('font-awesome.min.css');
@import url('owl-carousel.css');
@import url('sliderPro.css');
@import url('step-form-register.css');


.footeer{
    position: absolute;
    bottom: 0;
    width:100%;
}


